<h1>{{title}}</h1>
<h3>Employee</h3>
<hr />
<form [formGroup]="employeeForm" (ngSubmit)="save()" #formDir="ngForm" novalidate>
  <div class="form-group row">
    <label class=" control-label col-md-12">First Name</label>
    <div class="col-md-4"> <input class="form-control" type="text" formControlName="firstName"> </div> <span class="text-danger" *ngIf="firstName.invalid && formDir.submitted">
      First Name is required.
    </span>
  </div>
  <div class="form-group row">
    <label class=" control-label col-md-12">Last Name</label>
    <div class="col-md-4"> <input class="form-control" type="text" formControlName="lastName"> </div> <span class="text-danger" *ngIf="lastName.invalid && formDir.submitted">
      Last Name is required.
    </span>
  </div>
  <div class="form-group row">
    <label class="control-label col-md-12" for="Gender">Gender</label>
    <div class="col-md-4">
      <select class="form-control" data-val="true" formControlName="gender">
        <option value="">-- Select --</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
      </select>
    </div>
    <span class="text-danger" *ngIf="gender.invalid && formDir.submitted">
      Gender is required
    </span>
  </div>
  <div class="form-group row">
    <label class=" control-label col-md-12">Position</label>
    <div class="col-md-4"> <input class="form-control" type="text" formControlName="position"> </div> <span class="text-danger" *ngIf="position.invalid && formDir.submitted">
      Position is required.
    </span>
  </div>
  <div class="form-group row">
    <label class=" control-label col-md-12">Company</label>
    <div class="col-md-4"> <input class="form-control" type="text" formControlName="company"> </div> <span class="text-danger" *ngIf="company.invalid && formDir.submitted">
      Company is required.
    </span>
  </div>
  <div class="form-group row">
    <label class="control-label col-md-12" for="City">City</label>
    <div class="col-md-4">
      <select class="form-control" data-val="true" formControlName="city">
        <option value="">--Select City--</option>
        <option *ngFor="let city of cityList"
                value={{city.cityName}}>
          {{city.cityName}}
        </option>
      </select>
    </div>
    <span class="text-danger" *ngIf="city.invalid && formDir.submitted">
      City is required
    </span>
  </div>
  <div class="form-group"> <button type="submit" class="btn btn-default">Save</button> <button class="btn" (click)="cancel()">Cancel</button> </div>
</form>  
