<h1>Employees</h1>

<p>Get all </p>

<p *ngIf="!employees"><em>Loading...</em></p>

<p>
  <a [routerLink]="['/employee/create']">Create New</a>
</p>

<table class='table' *ngIf="employees">
  <thead>
    <tr>
      <th>EmployeeId</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Gender</th>
      <th>Position</th>
      <th>Company</th>
      <th>City</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{ employee.employeeId }}</td>
      <td>{{ employee.firstName }}</td>
      <td>{{ employee.lastName }}</td>
      <td>{{ employee.gender }}</td>
      <td>{{ employee.position }}</td>
      <td>{{ employee.company }}</td>
      <td>{{ employee.city }}</td>
      <td>
        <a [routerLink]="['/employee/edit/', employee.employeeId]">Edit</a> |
        <a [routerLink]="" (click)="delete(employee.employeeId)">Delete</a>
      </td>
    </tr>
  </tbody>
</table>
